* {
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica;
    display:block;

  }
  .page_title{
      font-size: 150%;
      text-align: center;
  }
  /*
  .menu_box {
    border: 2px solid black;
    width:100%
  }
  */
  .menu{
    position: relative;
    border: black solid 2px; 
    background-color: rgba(190, 179, 179, 0.856);
    margin: 20px;
  }

  .menu_title{
    /*float: right;*/
    position: absolute;
    right: 0px;
    width:33%;
    text-align: center;
    border: black solid 2px;
    font-size: 125%;
    font-weight: bold;
    margin-top: -2px;
    margin-right: -2px;
  }

  .menu_content{
    margin-top: 40px;
    padding: 10px;
    /*border: springgreen solid 1px;*/
    
}
#menu1_title{
    background-color: rosybrown;
}
#menu2_title{
    background-color: rgb(230, 23, 23);
}
#menu3_title{
    background-color: rgb(82, 224, 77);
}

